<mat-drawer-container class="app" autosize [hasBackdrop]="this.device != 'pc'">
  <mat-drawer
    #drawer
    class="example-sidenav"
    [mode]="this.device == 'pc' ? 'side' : 'over'"
    [opened]="this.device == 'pc'"
  >
    <app-sidebar
      (openSidebar)="drawer.toggle()"
      [drawer]="drawer"
    ></app-sidebar>
  </mat-drawer>

  <div class="app__content">
    <app-navbar (openSidebar)="drawer.toggle()"></app-navbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
